{% extends "padre.html" %}

{% block estilo %}

    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/styles/estilo_general.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/estilo_modify.css"/>
{% endblock %}

{% block barra_y_body %}

    <div id="rejilla_central">

    {% block barra %}

    <aside id="barra-lateral">

        {{ parent() }}

        {% if user %}
                    <p>Estás identificado, puedes <a href="/logout.php">Cerrar sesión</a></p>
                    <p>También puedes <a href="/modify.php">Modificar tus datos</a></p>
                {% endif %}
                {% if rol > 3 %}
                    Pulsa <a href="lista_usuarios.php">aquí</a> para administrar usuarios
                {% endif %}
    </aside>

    {% endblock %}

    {% block cuerpo %}

        <div id="tabla-principal">
            <p>Introduce el nuevo texto del comentario</p>
            <form action="editar_comentario.php" method="POST">
                <input type="text" name="id" id="id" value="{{ id }}">
                <input type="text" name="comentario" id="comentario" required> <input id="boton-enviar" value="Editar" type="submit">
            </form>
        </div>

    {% endblock %}
    
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="scripts/editar_comentario.js"></script>
{% endblock %}